#map {
    height: 400px;
    width: 500px;
}

.imgFill {
    object-fit: cover;
    object-position: right;
    
}


.goodsImgDiv {
    width: 100%;
    height: 100%;
    overflow:hidden;
}

.dropzone {
    
    min-width: 300px;
    min-height: 300px;
    border: 2px dashed #ccc;
    color: #ccc;
    line-height: 300px;
    text-align: center;
}

.dropzone.dragover {
    border-color: #000;
    color: #000;

}

.red {
    color: red;
}

.blue {
    color: blue;
}

.white {
    color: white;
}

