.red {
    color: red;
}

.blue {
    color: blue;
}

.white {
    color: white;
}



#map {
    height: 400px;
    width: 500px;
}

.imgFill {
    object-fit: cover;
    object-position: right;
    
}

.DID {
    width: 100%;
    max-height: 100%;
    overflow:hidden;
}

.goodsImgDiv {
    width: 100%;
    max-height: 100%;
    overflow:hidden;
}